{% extends 'users/base.html' %}

{% block content %}

<h2 class="text-center my-5">Change User Password</h2>
<div class="container">
    {% if form.errors %}
    <div class="alert alert-warning my-3" role="alert">
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
    </div>
    {% endif %}
    <form class="row g-3" method="POST">
        {% load widget_tweaks %}
        {% csrf_token %}
        <div class="col-md-6">
            <label for="" class="form-label">Old password</label>
            {{ form.old_password |add_class:"form-control" }}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">New password</label>
            {{ form.new_password1 |add_class:"form-control" }}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">Confirm password</label>
            {{ form.new_password2 |add_class:"form-control" }}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Reset password</button>
        </div>
    </form>
</div>

{% endblock %}