{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<section id="posts">
    <h2 class="text-center">My Posts</h2>
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col">
                <div class="profile my-3">
                    <img src="{{ profile.profile_img.url }}" alt="">
                    <a href="#">{{ post.user }}</a> . 2h
                </div>
                <div class="post">
                    <img src="{{ post.image.url }}" alt="">
                </div>
                <div class="my-3">
                    <i class="bi bi-heart mx-2"></i>
                    <i class="bi bi-search"></i>
                    <p>{{ post.title }}</p>
                    <p>{{ post.caption }}</p>
                </div>
            </div>
            {% endfor %}
        </div>



    </div>
</section>

{% endblock %}